* {
  font-family: 'Barlow', sans-serif;
  background: #1C1C1C;
  color: #E6E8E6;
  padding: 0;
  margin: 0; }

body {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto; }

h1 {
  font-size: 2.5em; }

button {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #E6E8E6; }

button:hover, button.selected:hover {
  background: #DB3636;
  cursor: pointer; }

button.selected {
  background: #4e4e4e; }

table {
  width: 100%;
  margin-bottom: 20px; }
