##### Client
PORT=4000

#### Authentication
REACT_APP_AUTH_ALLOW_GITHUB=
REACT_APP_AUTH_GITHUB_ID=
REACT_APP_AUTH_GITHUB_SECRET=

REACT_APP_AUTH_ALLOW_FACEBOOK=
REACT_APP_AUTH_FACEBOOK_ID=
REACT_APP_AUTH_FACEBOOK_SECRET=

REACT_APP_AUTH_ALLOW_GOOGLE=
REACT_APP_AUTH_GOOGLE_ID=
REACT_APP_AUTH_GOOGLE_SECRET=

REACT_APP_AUTH_ALLOW_LOCAL=true
