@import './../../config/variables.scss';

.SubmitButton {
    padding: 20px;
    border-style: none;
    background-color: $colorAccent;
    font-size: 1.5em;
}

.SubmitButton:hover {
    background: $colorAccent + 50;
}