nav.sidebar-nav {
  display: block; }
  nav.sidebar-nav ul li {
    list-style: none; }
    nav.sidebar-nav ul li a {
      border-left: 3px solid transparent;
      padding: 10px;
      display: block;
      text-decoration: none; }
    nav.sidebar-nav ul li a:hover, nav.sidebar-nav ul li a.active {
      border-left: 3px solid #DB3636; }
