.ProjectIcon {
  color: black;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin: 5px;
  border: 1px solid white;
}

.ProjectIcon.pendingMove {
  opacity: 0.4;
}

.projectIconContents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.ProjectIcon.red {
  background-color: #bb0000;
  color: white;
}

.ProjectIcon.orange {
  background-color: orange;
  color: black;
}

.ProjectIcon.green {
  background-color: #009900;
  color: white;
}

.ProjectIcon.blue {
  background-color: #0000bb;
  color: white;
}

.ProjectIcon.purple {
  background-color: #8800bb;
  color: white;
}

.ProjectIcon.west {
  background-color: black;
  color: white;
}

.ProjectIcon.east {
  background-color: #ccc;
  color: black;
}
