div.login {
  text-align: center; }
  div.login form input {
    display: block;
    font-size: 1.1em;
    margin: 0 auto 10px auto;
    border: none;
    outline: none; }
    div.login form input[type=submit] {
      background: #DB3636;
      color: #E6E8E6;
      padding: 10px 50px; }
    div.login form input[type=submit]:hover {
      background: #cc2727;
      color: #E6E8E6;
      padding: 10px 50px;
      cursor: pointer; }
    div.login form input[type=submit]:active {
      background: #c21d1d; }
    div.login form input[type=text], div.login form input[type=password] {
      width: 80%;
      max-width: 250px;
      padding: 20px 20px;
      border: 2px solid #E6E8E6; }
