@import './config/variables.scss';

* {
    font-family: 'Barlow', sans-serif;
    background: $colorBackground;
    color: $colorText;
    padding: 0;
    margin: 0;
}

body {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}
h1 {
    font-size: 2.5em;
}

@import './config/overrides.scss';
