@import './util/variables.scss';

* {
    font-family: 'Barlow', sans-serif;
    background: $colorBackground;
    color: $colorText;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}