@import './config/variables.scss';

* {
    font-family: 'Barlow', sans-serif;
    background: $colorBackground;
    color: $colorText;
    padding: 0;
    margin: 0;
}

body {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}
h1 {
    font-size: 2.5em;
}

button {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid $colorText;
}

button:hover, button.selected:hover {
    background: $colorAccent;
    cursor: pointer;
}

button.selected {
    background: $colorBackground + 50;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

@import './config/overrides.scss';
