@import './../../util/variables.scss';

nav.sidebar-nav {
    display: block;

    ul {
        li {
            margin: 10px 0;
            list-style: none;

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}
