@import './../../config/variables.scss';
    
div.user-table {
    width: 100%;
    table {

        td {
            padding: 5px 0;
        }

        td:last-child {
            width: 10px;
        }
    }
}

div.class-selector {
    white-space: nowrap;
}